@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

body {
    background-color: #0c0c0d; /* Fondo oscuro */
    color: #e0e0e0; /* Texto claro */
    font-family: 'Cinzel', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.social-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.social-container a {
    color: #ffffff;
    font-size: 2rem;
    transition: color 0.3s, transform 0.3s;
}

.social-container a:hover {
    color: #82b1ff; /* Azul claro */
    transform: scale(1.2);
}

.container {
    text-align: center;
    width: 80%;
    max-width: 1200px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #b0bec5; /* Gris claro */
    text-shadow: 2px 2px 4px #000000; /* Sombra del texto */
}

.info {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: #b0bec5;
}

.info a {
    color: #82b1ff;
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
}

#quejas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.queja {
    background: linear-gradient(145deg, #1e1e1e, #3a3a3a); /* Gradiente oscuro */
    color: #eceff1; /* Blanco grisáceo */
    padding: 1.5rem;
    border-radius: 10px;
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    animation: appear 0.5s ease-in-out;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    font-family: 'Cinzel', serif;
}

.queja:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.8);
}

.queja:nth-child(odd) {
    background: linear-gradient(145deg, #2e2e2e, #4a4a4a); /* Azul grisáceo más claro */
}

.queja:nth-child(even) {
    background: linear-gradient(145deg, #2a2a2a, #464646); /* Otro tono de azul grisáceo */
}

.queja::before {
    content: '📝';
    position: absolute;
    top: -20px;
    left: -20px;
    font-size: 2rem;
    color: #ffffff; /* Blanco para el icono */
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
